
.home-background  {
    background: url(../../assets/images/img-background.jpg);
    height: 598px;
    width: 100%;
    position: relative;
    background-size: 100% 100%;
    overflow: hidden;
    color: #fff;
    font-size: 48px;
}